@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
}

.nav2 {
    padding: 10px;
}

.nav2 img {
    height: 10vh;
    width: 25vw;
}

.nav3 {
    overflow: hidden;
    margin-right: 3vw;
}

.nav3 i {
    display: none;
    color: white;
    width: 2vw;
}
  
.nav3 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px 23px;
    background-color: inherit;
    font-family: inherit;
    /* margin-top: 2vh; */
    cursor: pointer;
    /* margin-right: 5vw; */
}
  
.nav3 a:hover, .dropdown:hover .dropbtn {
    /* opacity: 0.5; */
    color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1vw;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.content h1 {
    color: white;
    text-align: center;
    font-size: 8vh;
}

.content p {
    color: white;
    text-align: center;
    font-size: 3vh;
}

.content {
    height: 30vh;
    margin-top: 8vw;
}

.horizontal {
    width: 100%;
    height: 2px;
    border-top: 2px solid #333333;
    line-height: 80%;
}

.speakers {
    background-color: #333;
}

.speakers .about p {
    color: white;
}

.first {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 5vw;
}

.first img {
    width: 22vw;
    height: 50vh;
    border-radius: 50%;
}

.horizontal1 {
    width: 100%;
    height: 2px;
    border-top: 2px solid black;
    line-height: 80%;
}

.footer {
    display: flex;
    color: white;
    margin-left: 5vw;
    gap: 30vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    font-size: 3.5vh;
    font-weight: 200;
    margin-bottom: 0.8vw;
}

.footer p {
    font-size: 3vh;
}

.footer ul li a {
    font-size: 3vh;
    text-decoration: none;
    color: white;
}

footer {
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-size: 2vh;
}

@media (max-width: 360px) {
    .nav .dropdown, .dropbtn {
        display: none;
    }

    .nav2 img {
        width: 40vw;
        height: 5vh;
    }

    .nav3 i {
        display: inline;
        width: 5vw;
    }

    .nav3 {
        margin-right: 1vw;
    }

    .dropdown .dropbtn {
        padding: 8px 18px;
    }

    .content h1 {
        font-size: 6vh;
        margin-top: 15vw;
    }

    .content p {
        font-size: 2.5vh;
    }

    .horizontal {
        height: 1px;
        line-height: 50%;
    }

    .speakers .first {
        flex-direction: column;
        gap: 3vh;
        height: auto;
    }

    .first img {
        width: 60vw;
        height: auto;
        border-radius: 0%;
    }

    .first p {
        font-size: 2.5vh;
        text-align: center;
        margin: 0;
    }

    .footer {
        gap: 15vw;
        margin-left: 2vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

    .footer h4 {
        font-size: 3vh;
    }

    .footer p {
        font-size: 2.5vh;
    }

    .footer ul li a {
        font-size: 2.5vh;
    }

    footer {
        font-size: 2vh;
        margin-top: 4vw;
    }
}

@media (max-width: 768px) {
    .nav2 img {
        height: 8vh;
        width: 20vw;
    }

    .nav3 {
        margin-right: 1vw;
    }

    .dropdown .dropbtn {
        padding: 8px 18px;
    }

    .content h1 {
        font-size: 6vh;
    }

    .content p {
        font-size: 2.5vh;
    }

    .horizontal {
        height: 1px;
        line-height: 50%;
    }

    .speakers .first {
        flex-direction: column;
        gap: 3vh;
        height: auto;
    }

    .first img {
        width: 60vw;
        height: auto;
        border-radius: 0%;
    }

    .first p {
        font-size: 2.5vh;
        text-align: center;
        margin: 0;
    }

    .footer h4 {
        font-size: 3vh;
    }

    .footer p {
        font-size: 2.5vh;
    }

    .footer ul li a {
        font-size: 2.5vh;
    }

    footer {
        font-size: 2vh;
    }
}
