@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
}

.nav2 {
    padding: 10px;
}

.nav2 img {
    height: 10vh;
    width: 25vw;
}

.nav3 {
    overflow: hidden;
    margin-right: 3vw;
}
  
.nav3 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px 23px;
    background-color: inherit;
    font-family: inherit;
    /* margin-top: 2vh; */
    cursor: pointer;
    /* margin-right: 5vw; */
}
  
.nav3 a:hover, .dropdown:hover .dropbtn {
    /* opacity: 0.5; */
    color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1vw;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#scroll-container {
    font-size: 3vh;
    margin: auto;
    overflow: hidden;
    font-weight: 600;
    font-style: normal;
    height: 10vh;
    /* margin-left: 50px; */
    /* border-bottom: 3px solid #484237; */
}
  
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    overflow: hidden;
    -moz-animation: my-animation 12s linear infinite;
    -webkit-animation: my-animation 12s linear infinite;
    animation: my-animation 12s linear infinite;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: transparent;
}

#scroll-text span {
    color: red;
}

#scroll-text p {
    color: white;
}
  
/* #scroll-text img {
    width: 8vw;
    height: 5vh;
} */
  
  /* for Firefox */
@-moz-keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
    }
}
  
  /* for Chrome */
@-webkit-keyframes my-animation {
    from {
      -webkit-transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
    }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 3vw;
    /* justify-content: center;
    align-items: center; */
}

/* .content .left {
    width: 50%;
    height: 100%;
}

.content .right {
    width: 50%;
    height: 100%;
}

.content img {
    height: 100vh;
    width: 50vw;
} */

.left {
    height: 100%;
    width: 50%;
    margin: 8vw 5vw;
}
  
.right {
    height: 100%;
    width: 50%;
}
  
.left p {
    font-size: 8vh;
    width: 100%;
    color: white;
}

.left span {
    font-weight: 800;
    color: red;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* bottom: 23px; */
  /* right: 28px; */
  width: 15vw;
  margin-top: 3vw;
  font-size: 3.5vh;
  font-weight: 700;
  border-radius: 0.5vw;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 80vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

#myForm {
    margin-top: 8vw;
    margin-right: 28vw;
    margin-bottom: 4vw;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1vw;
    color: red;
    font-family: Poppins;
    /* backdrop-filter: blur(3px); */
}

.form-container label {
    color: #fff;
    margin-left: 1vw;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=tel] {
  width: 90%;
  padding: 15px;
  margin: 5px 5px 22px 0;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
}

.form-container input[type=file] {
    margin: 5px 0 22px 0;
}

.form-container input[type=file]::file-selector-button {
    border: 2px solid #333;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #333;
    transition: 1s;
    margin-left: 1vw;
    color: white;
  }

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-left: 9vw;
  border-radius: 1vw;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.right img {
    height: 100vh;
    width: 40vw;
    margin-top: 5vw;
    margin-right: 1vw;
}

/* #demo {
    overflow: hidden;
    white-space:wrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5 s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */

.horizontal {
    width: 100%;
    height: 2px;
    border-top: 2px solid #333333;
    line-height: 80%;
}

.about h1 {
    color: red;
    font-size: 7vh;
    text-align: center;
    margin-top: 2vw;
}

/* .about h2 {
    color: white;
    margin-left: 4vw;
    font-size: 5vh;
}

.about p {
    color: white;
    margin-left: 3vw;
    font-size: 3vh;
    width: 50%;
    margin-bottom: 3vw;
} */

/* .container-left {
    float: left;
    color: white;
    width: 50%;
    margin-left: 3vw;
}

.container-left h2 {
    font-size: 5vh;
    margin-left: 4vw;
}

.container-left p {
    font-size: 3vh;
    margin-left: 3vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.container-right {
    float: right;
    color: white;
    width: 50%;
    margin-right: 4vw;
}

.container-right h2 {
    font-size: 5vh;
    margin-left: 4vw;
}

.container-right p {
    font-size: 3vh;
    margin-left: 3vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
} */

#slideshow {
    padding-bottom: 10px;
    border-bottom: 3px solid black;
  }
  
  /* Slideshow container */
.slideshow-container {
    max-width: 75vw;
    position: relative;
    margin: auto;
    padding-top: 10px;
  }
  
  /* Hide the images by default
  .mySlides {
    display: none;
  } */
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

.fade img {
    height: 80vh;
}

/* .container-left {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.img {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    margin-left: 3vw;
    margin-right: 50vw;
    width: 40%;
    z-index: 2;
    color: white;
}

.imge {
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
}

.info2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    margin-left: 850px;
    margin-right: 12px;
    width: 40%;
    z-index: 2;
    color: white;
} */

.w3-content {
    text-align: center;
    margin: 2vw;
    height: 60vh;
}

.myslides1 {
    display: none;
    width: 100%;
}

.w3-container h1 {
    color: red;
    text-align: center;
    margin: 2vw;
}

.w3-container p {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25vw;
}

.speakers {
    margin: 2vw;
}

.speakers h2 {
    color: red;
    text-align: center;
    font-size: 5vh;
    margin: 2vw;
}

.speakers p {
    color: white;
    font-size: 3vh;
    text-align: center;
}

/* .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-left: 8vw;
}

.profile img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
} */

.profile ul {
    display: flex;
    gap: 15vw;
    list-style-type: none;
    margin: 20px 0px 0px 0px;
    justify-content: center;
  }
  
  .profile ul li {
    text-align: center;
  }
  
  /* .profile ul li a {
    font-size: 3.8vh;
    font-weight: 600;
    color: #484237;
    text-decoration: none;
    text-align: center;
  } */

  .profile ul li div {
    color: white;
    font-size: 4vh;
  }
  
  .profile ul li div:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .profile ul li p {
    font-size: 2.8vh;
    font-weight: 400;
    color: white;
    width: 20vw;
    margin: 20px 0px 0px 0px;
  }
  
  .profile ul li p:hover {
    transform: scale(1.2);
    cursor: pointer;
    text-align: center;
  }
  
  .profile ul li img {
    margin-bottom: 20px;
    border-radius: 50%;
    margin-top: 20px;
    width: 25vw;
    height: 25vw;
    cursor: pointer;
  }

  .profile ul li img:hover {
    transform: scale(1.1);
  }

.profile ul li a {
    text-decoration: none;
}

.contact {
    margin: 2vw;
}

.contact h2 {
    color: red;
    text-align: center;
    font-size: 5vh;
    margin: 2vw;
}

.contact p {
    color: white;
    margin-bottom: 2vw;
}

.contact ul li {
    color: white;
    list-style-type: none;
}

.contact ul {
    display: flex;
    gap: 0.5vw;
}

.form {
    margin-left: 2vw;
}

.form label {
    color: white;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.form input {
    width: 20%;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
}

.form button {
    width: 7vw;
    height: 5vh;
    color: white;
    background-color: red;
    border-radius: 0.5vw;
    margin-top: 1vw;
}

.form button:hover {
    cursor: pointer;
}

.form textarea {
    width: 20%;
    border-radius: 0.5vw;
    margin-top: 1vw;
}

.footer {
    display: flex;
    color: white;
    margin-left: 5vw;
}

footer {
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-size: 2vh;
}